@model List<ProjectFuse.Models.Forum.TopicView>

<img class="img-fluid mb-3" src="https://photocentra.ru/images/main47/477638_main.jpg"/>
<h1>Темы форума</h1>
<span>Найдено: @Model.Count </span>
<a asp-action="CreateTopic" class="btn btn-primary">Создать свою тему</a>
<div class="container mt-4">
    <div class="row">
        @foreach (var item in @Model)
        {
            <div class="col-md-8 mb-3 shadow shadow-sm border border-1 border-light rounded-2 p-2">
                <a asp-action="TopicDetails" asp-route-id="@item.Id"><h2>@item.Title</h2></a>
                <span>@item.Content</span><br/>
                @if (item.AuthorName is not null)
                {
                    <small>Автор: @item.AuthorName</small>
                }<br/>
                <small>Создано: @item.CreatedAt.ToLocalTime().ToString("d/M/yyyy")</small>
            </div>
            <div class="col-md-4">
                <a asp-action="TopicDetails" asp-route-id="@item.Id" class="btn btn-info">Начать обсуждение</a>
            </div>
        }
  
    </div>
</div>